/* TODO: remove @import?*/
/* TODO: less bulky font for T/F*/
/* TODO: wait till apge load*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
    font-family: 'Roboto';
}

.title {
    text-align: center;
    font-size: 72px;
    font-family: 'Major Mono Display';
    margin-top: 125px;
}

table {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    max-width: 90%;
    border: 0;
}

td {
    border-bottom-color: 1px solid red;
}

.icon-container {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fa-github,
.fa-question-circle {
    transition: all .2s ease-in-out; 
    padding: 15px;
    font-size: 75px;
}

.fa-github:hover,
.fa-question-circle:hover {
    transform: scale(1.3);
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.modal-title,
.modal-body > p{
    color: black !important;
    margin: 4px;
}

.close > span {
    color: red;
}

.modal-body ul {
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
}

.modal-body li {
    display: list-item;
    color: black;
}

.form-control {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}